h1 {
    font-size: 8rem;
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: -0.2rem;
    line-height: 2;
    color: pink;
    text-align: center;
}
a {
    color: blue;
    text-decoration: none;
}
.mainNav h1 {
    color: pink;
}
.mainNav h1 span {
    display: inline-block;
    transform: scaleX(-1) translateX(-0.2rem);
    color: palevioletred;
}

.productlist main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 290px));
    gap: 2rem;
  }
img {
    display: block;
    max-width: 100%;
    height: auto;
  }

.productlist main h2 {
    grid-column: 1/-1;
}
h2 {
    font-size: 3rem;
    line-height: 1;
    text-align: center;
}

.soldOut img {
    filter: grayscale(100%);
}